
Electrical Design/tft screen.gsheet
Mechanical Design/3D Mesh Files/connector test.3mf
Mechanical Design/3D Mesh Files/screen test.3mf
Mechanical Design/DXF Files
Electrical Design/gridTouchscreenTest
